<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Associação Bichos Gerais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="h1consulta" text-center>Marcar Consulta</h1>  
  <ion-item class="item-select">
    <ion-label>Animal</ion-label>
    <ion-select *ngFor="let b of animalPage" [(ngModel)]="animal" class="select-animal" cancel-text="Cancelar" placeholder="Selecionar">
      <ion-select-option value="{{b.id}}">{{b.nome}}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item class="item-select">
    <ion-label>Horário</ion-label>
    <ion-input required type="date" name="horario" value="" id="horario" [(ngModel)]="horario"></ion-input>
  </ion-item>

  <ion-button expand="block" class="marcar-consulta" (click)="marcar()" color="success"> Marcar </ion-button>  
</ion-content>
