<ion-header>
  <ion-toolbar>
    <ion-title>
      Associação Bichos Gerais
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="login">
  <ion-list class="login">
    <ion-item>
      <ion-label stacked>Usuário</ion-label>
      <ion-input type="text" name="email" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" name="password" ></ion-input>
    </ion-item>
    <div class="esquecisenha">
      <a href="" >Esqueci minha senha</a>
    </div>
    
    <div class="logar">
      <ion-button class="button" block (click)="login()" color="light">Criar Conta</ion-button>
      <ion-button class="button" block (click)="login()" color="success">Logar</ion-button>
    </div>
  </ion-list>
</ion-content>
<script src="https://www.google.com/recaptcha/api.js?render=6LfZfaQUAAAAADr7qxy5kamSXdSOYo_xVt0CZ9xN"></script>
<script>
  grecaptcha.ready(function () {
    grecaptcha.execute('6LfZfaQUAAAAADr7qxy5kamSXdSOYo_xVt0CZ9xN', { action: 'homepage' }).then(function (token) {
    });
  });
</script>